* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #202020;
  --container-color: #1b1b1b;
  --primary-color-dark: #490049;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  margin: 50px 20px;
  padding: 20px 20px;

  background-color: var(--container-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h1 {
  color: #dadada;
  font-weight: 800;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.controls input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  background-color: #ffffff00;
  color: #fff;
  font-weight: 400;
}

.controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 1px solid #333333;
  background-color: #272727;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.tarefas {
  width: 100%;
  padding-left: 0;
}

.tarefas li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  color: #fff;
}

.tarefas li i {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* HTML5 */
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px 16px;
  border: 1px solid #333333;
  background-color: #161616;
  color: #fff;
  cursor: pointer;
}
